<%- include('header'); -%>
<!--<%- include('inprogress'); -%>-->
<div class="center">
    <div class="top3">
        <a href="/<%=users[1].uid%>" style="color: black" class="two item">
            <div class="pos">
                2
            </div>
            <div class="pic" style="background: white"></div>
            <div class="name">
                <%=users[1].second_name%> <%=users[1].first_name%>
            </div>
            <div class="score">
                <%=users[1].votes%>

            </div>
        </a>
        <a href="/<%=users[0].uid%>" style="color: black" class="two item">
            <div class="pos">
                1
            </div>
            <div class="pic" style="background: white"></div>
            <div class="name">
                <%=users[0].second_name%> <%=users[0].first_name%>
            </div>
            <div class="score">
                <%=users[0].votes%>
            </div>
        </a>
        <a href="/<%=users[2].uid%>" style="color: black" class="two item">
            <div class="pos">
                3
            </div>
            <div class="pic" style="background: white"></div>
            <div class="name">
                <%=users[2].second_name%> <%=users[2].first_name%>
            </div>
            <div class="score">
                <%=users[2].votes%>
            </div>
        </a>
    </div>
    <div class="list">
        <a href="/<%=users[3].uid%>" style="color: black" class="two item">
            <div class="pos">
                4
            </div>
            <div class="pic" style="background: white"></div>
            <div class="name">
                <%=users[3].second_name%> <%=users[3].first_name%>
            </div>
            <div class="score">
                <%=users[3].votes%>
            </div>
        </a>
        <a href="/<%=users[4].uid%>" style="color: black" class="two item">
            <div class="pos">
                5
            </div>
            <div class="pic" style="background: white"></div>
            <div class="name">
                <%=users[4].second_name%> <%=users[4].first_name%>
            </div>
            <div class="score">
                <%=users[4].votes%>
            </div>
        </a>
        <a href="/<%=users[5].uid%>" style="color: black" class="two item">
            <div class="pos">
                6
            </div>
            <div class="pic" style="background: white"></div>
            <div class="name">
                <%=users[5].second_name%> <%=users[5].first_name%>
            </div>
            <div class="score">
                <%=users[5].votes%>
            </div>
        </a>
        <a href="/<%=users[6].uid%>" style="color: black" class="two item">
            <div class="pos">
                7
            </div>
            <div class="pic" style="background: white"></div>
            <div class="name">
                <%=users[6].second_name%> <%=users[6].first_name%>
            </div>
            <div class="score">
                <%=users[6].votes%>
            </div>
        </a>
        <a href="/<%=users[7].uid%>" style="color: black" class="two item">
            <div class="pos">
                8
            </div>
            <div class="pic" style="background: white"></div>
            <div class="name">
                <%=users[7].second_name%> <%=users[7].first_name%>
            </div>
            <div class="score">
                <%=users[7].votes%>
            </div>
        </a>
        <a href="/<%=users[8].uid%>" style="color: black" class="two item">
            <div class="pos">
                9
            </div>
            <div class="pic" style="background: white"></div>
            <div class="name">
                <%=users[8].second_name%> <%=users[8].first_name%>
            </div>
            <div class="score">
                <%=users[8].votes%>
            </div>
        </a>
        <a href="/<%=users[9].uid%>" style="color: black" class="two item">
            <div class="pos">
                10
            </div>
            <div class="pic" style="background: white"></div>
            <div class="name">
                <%=users[9].second_name%> <%=users[9].first_name%>
            </div>
            <div class="score">
                <%=users[9].votes%>
            </div>
        </a>
    </div>
</div>
